:root {
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: 0.5em 1em;
  --gl-tooltip-size: 6px;
}

/* 🦊 Vos styles ici */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

p {
  font-family: "Inter", sans-serif;
}

.collections {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lu {
  border-width: 1px;
  border-style: solid;
  border-color: #55a66a;
  border-radius: 10px;
  color: #55a66a;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 17px;
  font-size: 16px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 27px;
  padding-right: 27px;
}

.alire {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 16px;
}

.couverture {
  align-items: center;
  margin-bottom: 6px;
}

.titre {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: -20px;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info1 {
  border-width: 0.5px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 11px;
}


.info2 {
  border-width: 0.5px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  font-size: 16px;
}

.texte {
  font-size: 16px;
}

.comtitre {
  font-size: 20px;
}

.commentaire {
  display: flex;
  border-style: solid;
  border-color: #848484;
  border-width: 1px;
  padding-bottom: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 14px;
  color: #848484;
}

.commentaires {
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-top: 23px;
  margin-bottom: 8px;
  font-size: 12px;
}

.voirplus {
  font-size: 12px;
}